{# templates/_form.html.twig #}

{# Start the form with custom attributes, if needed #}
{{ form_start(formlogin, {'attr': {'class': 'row g-3 needs-validation', 'novalidate': 'novalidate'}}) }}

<div class="col-12">
    {{ form_label(formlogin.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
    <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        {{ form_widget(formlogin.email, {'attr': {'class': 'form-control' , 'maxlength' : '35'}}) }}
                  <div class="invalid-feedback">Please enter a valid email address.</div>

    </div>
</div>
<div class="col-12">
    {{ form_label(formlogin.password, 'Password', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(formlogin.password, {'attr': {'class': 'form-control', 'pattern': '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$', 'maxlength' : '25'}}) }}
</div>


<div class="col-12">
    <button type="submit" class="btn btn-primary w-100" id="submit-button">Login</button>
</div>

<div class="col-12">
    <p class="small mb-0">Don't have an account? <a href="{{ path('app_user_register') }}">Create an account</a></p>
</div>

{# End the form #}
{{ form_end(formlogin) }}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('.needs-validation');
        form.addEventListener('submit', function(event) {
            // Remove existing error messages
            form.querySelectorAll('.invalid-feedback').forEach(function(error) {
                error.remove();
            });

            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.classList.add('was-validated');

        
        });
    });
</script>
