{# templates/_form.html.twig #}

{# Start the form with custom attributes, if needed #}
{{ form_start(form2, {'attr': {'class': 'row mb-3', 'novalidate': 'novalidate', 'id': 'form-password'}}) }}

<div class="col-md-4 col-lg-3 mb-3">  <!-- field for current password -->
    {{ form_label(form2.CurrentPassword, 'Current Password', {'label_attr': {'class': 'col-form-label label'}}) }}
</div>
<div class="col-md-8 col-lg-9 mb-3">
    {{ form_widget(form2.CurrentPassword, {'attr': {'class': 'form-control', 'placeholder': 'Current Password', 'name': 'CurrentPassword' }}) }}

    {{ form_errors(form2.CurrentPassword)}}
</div>

<div class="col-md-4 col-lg-3 mb-3">  <!-- field for new password -->
    {{ form_label(form2.NewPassword, 'New Password', {'label_attr': {'class': 'col-form-label label'}}) }}
</div>
<div class="col-md-8 col-lg-9 mb-3">
    {{ form_widget(form2.NewPassword, {'attr': {'class': 'form-control', 'placeholder': 'New Password', 'name': 'NewPassword'}}) }}
 
    {{ form_errors(form2.NewPassword)}}
    </div>
   
</div>

<div class="col-md-4 col-lg-3 mb-3">  <!-- field for confirm password -->
    {{ form_label(form2.ConfirmPassword, 'Confirm Password', {'label_attr': {'class': 'col-form-label label'}}) }}
</div>
<div class="col-md-8 col-lg-9 mb-3">
    {{ form_widget(form2.ConfirmPassword, {'attr': {'class': 'form-control', 'placeholder': 'Confirm Password', 'name': 'ConfirmPassword'}}) }}
    
        {{ form_errors(form2.ConfirmPassword)}}    
</div>

<div class="col-12 text-center">
    <button id="update-button-password" type="submit" class="btn"  style="background-color:#033E6A; color:white;">Update</button>
</div>

{# End the form #}
{{ form_end(form2) }}


