<!DOCTYPE html>

<title>Blacklist</title>

{% block body %}
    <h1>Blacklist</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idblacklist</th>
                <td>{{ blacklist.idblacklist }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ blacklist.duree }}</td>
            </tr>
            <tr>
                <th>Cause</th>
                <td>{{ blacklist.cause }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_blacklist_index') }}">back to list</a>

    <a href="{{ path('app_blacklist_edit', {'idblacklist': blacklist.idblacklist}) }}">edit</a>

    {{ include('blacklist/_delete_form.html.twig') }}
{% endblock %}
