<!DOCTYPE html>
<html>
   <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>{% block title %}Welcome!{% endblock %}</title>

  <!-- Favicons -->

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('Back/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('Back/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ asset('Back/assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ asset('Back/assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ asset('Back/assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ asset('Back/assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ asset('Back/assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">
{# <link href="{{ asset('Back/assets/css/style.css') }}" rel="stylesheet"> #}
    <link href="{{ asset('Front/css/Profilestyle.css') }}" rel="stylesheet">

</head>
{% block stylesheets %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        background-color: #e9ecef;
        font-family: 'Nunito', sans-serif;
    }
    .card {
        border-radius: 1rem;
        border: none;
        overflow: hidden;
        box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 
                    0 0.9375rem 1.40625rem rgb(90 97 105 / 10%), 
                    0 0.25rem 0.53125rem rgb(90 97 105 / 12%), 
                    0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
    }
    .card-header {
        background-color: #89c048;
        color: #89c048;;
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
    }
    .form-control, .form-range, .btn-primary {
        border-radius: 0.75rem;
    }
    .form-control:focus, .form-range:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .btn-primary {
        background-color: #0056b3;
        border-color: #0056b3;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 123, 255, 0.75);
        font-weight: bold;
    }
    .btn-primary:hover {
        background-color: #004085;
        border-color: #003b75;
    }
    .img-thumbnail {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%);
    }
    .custom-file-input:lang(en)~.custom-file-label::after {
        content: "Parcourir";
    }
    .custom-range::-webkit-slider-thumb {
        background-color: #89c048;
    }
    .custom-range::-moz-range-thumb {
        background-color: #89c048;
    }
    .custom-range::-ms-thumb {
        background-color: #89c048;;
    }

    /* Responsive adjustments can be placed here */
   /* New styles for error messages and input fields */
    .invalid-feedback {
        color: #dc3545; /* Red color for the error message */
        display: block;
    }

    /* Apply red border and shadow for invalid inputs */
    .is-invalid {
        border-color: #dc3545 !important; /* Override Bootstrap styles */
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }
     .form-control, .form-select {
        border-color: #89c048; /* This is the green color you specified */
        /* If you want to change the focus color as well */
        border-radius: 0.25rem; /* Adjust as needed */
    }
    .card-title {
      color: #FFFFFF;
    }
     
</style>
{% endblock %}

    <body>

 <header id="header" class="header fixed-top d-flex align-items-center">

   
                        {% if app.user %} 
                        {% set user = app.user %}
                        {% endif %}
                        

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ path('app_Home') }}" class="logo d-flex align-items-center"> <!-- home -->
        <img src="{{ asset('Back/assets/img/PlayMate.png') }}" alt="">
        <span class="d-none d-lg-block"><span style="color:black">Play</span>Mate</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
            
              {% if user.image == null %}
              {% set imagePath = 'uploads/images/default.jpg' %}
              {% else %}
              {% set imagePath = 'uploads/images/' ~ user.image %}
              {% endif %}

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ asset(imagePath) }}" alt="Profile" class="rounded-circle" >
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.Name}}</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.name}}</h6>
              <span>
              {{user.Role}}
              </span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
          <a class="dropdown-item d-flex align-items-center" href="{{ path('app_user_profile') }}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
          

          
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ path('app_login') }}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul>
        </li>

      </ul>
    </nav>

  </header>
  <main id="main" class="main">

<div class="container mt-5">
        <div class="card">
            <div class="card-header  text-white">
                <h4 class="card-title">Ajouter un Tournoi</h4>
            </div>
            <div class="card-body">
 {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}
       
                

                <div class="mb-3">
                    {{ form_label(form.nomequipe, null, {'label_attr': {'class': 'form-label'}}) }}
                    {% set errorClass = form.nomequipe.vars.errors is not empty ? 'is-invalid' : '' %}
                    {{ form_widget(form.nomequipe, {'attr': {'class': 'form-control ' ~ errorClass }}) }}
                    {% if form.nomequipe.vars.errors %}
                            <div class="invalid-feedback">
                                {{ form_errors(form.nomequipe) }}
                            </div>
                        {% endif %}
                </div>

           

             <div class="mb-3">
    {{ form_label(form.nbrejoueur, null, {'label_attr': {'class': 'form-label'}}) }}

    {% set errorClass = form.nbrejoueur.vars.errors is not empty ? 'is-invalid' : '' %}
    <div class="input-group">
        {{ form_widget(form.nbrejoueur, {'attr': {'class': 'form-control ' ~ errorClass, 'oninput': 'updateValue(this)' }}) }}
        <span class="input-group-text" id="rangeValue">8</span>
    </div>

    {% if form.nbrejoueur.vars.errors %}
        <div class="invalid-feedback">
            {{ form_errors(form.nbrejoueur) }}
        </div>
    {% endif %}
</div>

<script>
    function updateValue(input) {
        var valueSpan = document.getElementById('rangeValue');
        valueSpan.textContent = input.value;
    }
</script>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button></button>
                </div>

                {{ form_end(form) }}

     </div>
        </div>
    </div>
  </main>
 


         


  <script src="{{ asset('Back/assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/chart.js/chart.umd.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/echarts/echarts.min.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/quill/quill.min.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/php-email-form/validate.js') }}"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ asset('Back/assets/js/main.js') }}"></script>
    </body>
</html>