{% extends 'BaseBack.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center"> <!-- home -->
            <img src="{{ asset('Back/assets/img/PlayMate.png') }}" alt="">
            <span class="d-none d-lg-block">PlayMate</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->





</header>
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">



        <li class="nav-heading">Gestion User</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_user_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>Users</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_user_dashboard') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- End Nav Item -->
         <li class="nav-heading">GestionTerrain</li>
        <li class="nav-item">
      <a class="nav-link collapsed" href="{{ path('app_terrain_index') }}"> 
        <i class="bi bi-grid"></i>
        <span>Terrain</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{{ path('app_avis_index') }}"> 
        <i class="bi bi-grid"></i>
        <span>Avis</span>
      </a>
    </li>

    <!-- End Nav Item -->
      <li class="nav-heading">Gestion Reservation</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_reservation_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Reservation</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_historique_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Historique</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_blacklist_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Blacklist</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_payment_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Paiement</span>
            </a>
        </li>

        <!-- End Nav Item -->
        <li class="nav-heading">Gestion Evenement</li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_tournoi_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Tournoi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_participation_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Participation</span>
            </a>
        </li>
           <li class="nav-heading">Gestion Equipe</li>
         
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_equipe_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Equipe</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_membreparequipe_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Membre par equipe</span>
            </a>
        </li>
<!-- End Nav Item -->
    </ul>

</aside>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Table Page</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Pages</li> <!-- user pROFILE PAGE -->
                <li class="breadcrumb-item active">Table</li>

            </ol>
        </nav>
    </div>
        <div class="row">
                    <div class="col-lg-6 col-md-6 mb-4">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">All Teams</h5>
                                        <div>
                                            <canvas id="myChart" width="1200" height="340"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="row">
                    <div class="card text-center">
                            <div class="card-body">
                                 <h5 class="card-title"> Teams</h5>
                                 <p>Number of teams: {{ equipes.getTotalItemCount() }}</p>
                        
                             </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title"> Teams</h5>
                            <p>Number of teams: {{ equipes.getTotalItemCount() }}</p>
                        
                         </div>
                    </div>
                
                </div>
                
            </div>
            
        </div>

       
    <!-- End Page Title -->
  <section class="section">
        <form action="{{ path('app_equipe_index') }}" method="GET">
            <div class="field is-grouped d-flex">
                <p class="control">
                    <input class="form-control" type="text" name="search" placeholder="Search by Nomequipe" value="{{ app.request.query.get('search') }}">
                </p>
                <p class="control">
                    <button class="btn btn-primary" style="margin-left:20px;" type="submit">Search</button>
                </p>
            </div>
        </form>

        <table class="table">
            <thead>
                 <tr>
                <th><a>Nomequipe</a></th>
                     <th>
                        {% if order == 'desc' %}
                         <a href="{{ path('app_equipe_index', {'tritype': 'members-asc'}) }}">Nbrejoueur &#x25BC;</a>
                       {% else %}
                           <a href="{{ path('app_equipe_index', {'tritype': 'members-desc'}) }}">Nbrejoueur  &#x25B2;</a>
                       {% endif %}
                    </th>
                          </tr>
                            </thead>
            <tbody>
                {% for equipe in equipes %}
                    <tr>
                        <td>{{ equipe.nomequipe }}</td>
                        <td>{{ equipe.nbrejoueur }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if equipes.getTotalItemCount() > 0 %}
          <div  style="display:flex;justify-content:center;margin-right:80px;">
            <nav class="pagination" role="navigation" aria-label="pagination">
          
             {{ knp_pagination_render(equipes) }}
           
               
            </nav>
             </div>
        {% endif %}
    </section>

 

</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ teamNames|raw }}, // Use teamNames variable
                datasets: [{
                    label: 'Number of Players',
                    data: {{ numberOfPlayers|raw }}, // Use numberOfPlayers variable
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>

{% endblock %}