{% extends 'BaseBack.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center"> <!-- home -->
            <img src="{{ asset('Back/assets/img/PlayMate.png') }}" alt="">
            <span class="d-none d-lg-block">PlayMate</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->





</header>
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">



        <li class="nav-heading">Gestion User</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_user_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>Users</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_user_dashboard') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- End Nav Item -->
        <li class="nav-heading">GestionTerrain</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_terrain_index') }}">
                <i class="bi bi-grid"></i>
                <span>Terrain</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_avis_index') }}">
                <i class="bi bi-grid"></i>
                <span>Avis</span>
            </a>
        </li>

        <!-- End Nav Item -->
        <li class="nav-heading">Gestion Reservation</li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_reservation_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Reservation</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_historique_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Historique</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_blacklist_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Blacklist</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_payment_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Paiement</span>
            </a>
        </li>

        <!-- End Nav Item -->
        <li class="nav-heading">Gestion Evenement</li>
        <li class="nav-item">
            <a class="nav-link collapsed " href="{{ path('app_tournoi_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Tournoi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_participation_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Participation</span>
            </a>
        </li>
        <li class="nav-heading">Gestion Equipe</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_equipe_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Equipe</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_membreparequipe_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Membre par equipe</span>
            </a>
        </li>
        <!-- End Nav Item -->
    </ul>

</aside>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Table de reservation</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Pages</li>
                <li class="breadcrumb-item active">Table</li>
            </ol>
        </nav>
    </div>

    <section class="section" id="section">
        <div>
            <div>
                <!--        *****************************************     filtrage      ******************************************-->
                <!-- Filter by reservation type -->
                <form action="{{ path('app_reservation_index') }}" method="get" class="form-inline float-right d-flex">
                    <label for="type">Filter by Type:</label>
                    <select style="margin:0 30px;;width:300px;" name="type" id="type" class="form-control">
                        <option value="">All Types</option>
                        {% for type in filtertypes %}
                        <option value="{{ type }}" {% if type==app.request.query.get('type') %} selected {% endif %}>{{
                            type }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>

                <!-- Search by reservation type or other fields -->
                <form action="{{ path('app_reservation_index') }}" method="get" style="margin:10px 0;"
                    class="d-flex form-inline">
                    <label for="search" class="sr-only">Search:</label>
                    <input type="text" style="margin:0 30px;;width:300px;" name="search" id="search"
                        class="form-control" value="{{ app.request.query.get('search') }}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <!-- Sort by date de reservation -->
            <a class="badge badge-primary" style="color:#0E46A3"
                href="{{ path('app_reservation_index', {'sort': 'r.datereservation', 'direction': 'asc'}) }}">Sort by
                Date Asc</a>
            <a class="badge badge-primary" style="color:#0E46A3"
                href="{{ path('app_reservation_index', {'sort': 'r.datereservation', 'direction': 'desc'}) }}">

                Sort by Date Desc

            </a>
        </div>

        <table class="table">
            <!-- Table headers remain the same -->
            <tbody>
                {% for reservation in pagination %}
                <tr>
                    <td>{{ reservation.idreservation }}</td>
                    <td>{{ reservation.isconfirm ? 'Yes' : 'No' }}</td>
                    <td>{{ reservation.datereservation ? reservation.datereservation|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.heurereservation }}</td>
                    <td>{{ reservation.type }}</td>
                    <td>
                        <a
                            href="{{ path('app_reservation_show', {'idreservation': reservation.idreservation}) }}">show</a>
                        <a
                            href="{{ path('app_reservation_edit', {'idreservation': reservation.idreservation}) }}">edit</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!--  *******************             **************************************-->
        <div class="pagination" style="justify-content: center;padding-right:50px;">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
</main>

{% endblock %}