<!DOCTYPE html>
<html>
   <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>{% block title %}Welcome!{% endblock %}</title>

  <!-- Favicons -->

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('Back/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('Back/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ asset('Back/assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ asset('Back/assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ asset('Back/assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ asset('Back/assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ asset('Back/assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">
{# <link href="{{ asset('Back/assets/css/style.css') }}" rel="stylesheet"> #}
    <link href="{{ asset('Front/css/Profilestyle.css') }}" rel="stylesheet">

</head>
{% block stylesheets %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        background-color: #e9ecef;
        font-family: 'Nunito', sans-serif;
    }
    .card {
        border-radius: 1rem;
        border: none;
        overflow: hidden;
        box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 
                    0 0.9375rem 1.40625rem rgb(90 97 105 / 10%), 
                    0 0.25rem 0.53125rem rgb(90 97 105 / 12%), 
                    0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
    }
    .card-header {
        background-color: #0056b3;
        color: #fff;
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
    }
    .form-control, .form-range, .btn-primary {
        border-radius: 0.75rem;
    }
    .form-control:focus, .form-range:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .btn-primary {
        background-color: #0056b3;
        border-color: #0056b3;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 123, 255, 0.75);
        font-weight: bold;
    }
    .btn-primary:hover {
        background-color: #004085;
        border-color: #003b75;
    }
    .img-thumbnail {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%);
    }
    .custom-file-input:lang(en)~.custom-file-label::after {
        content: "Parcourir";
    }
    .custom-range::-webkit-slider-thumb {
        background-color: #0056b3;
    }
    .custom-range::-moz-range-thumb {
        background-color: #0056b3;
    }
    .custom-range::-ms-thumb {
        background-color: #0056b3;
    }
    /* Responsive adjustments can be placed here */
   /* New styles for error messages and input fields */
    .invalid-feedback {
        color: #dc3545; /* Red color for the error message */
        display: block;
    }

    /* Apply red border and shadow for invalid inputs */
    .is-invalid {
        border-color: #dc3545 !important; /* Override Bootstrap styles */
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }
</style>
{% endblock %}

    <body>

 <header id="header" class="header fixed-top d-flex align-items-center">

   
                        {% if app.user %} 
                        {% set user = app.user %}
                        {% endif %}
                        

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ path('app_Home') }}" class="logo d-flex align-items-center"> <!-- home -->
        <img src="{{ asset('Back/assets/img/PlayMate.png') }}" alt="">
        <span class="d-none d-lg-block"><span style="color:black">Play</span>Mate</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
            
              {% if user.image == null %}
              {% set imagePath = 'uploads/images/default.jpg' %}
              {% else %}
              {% set imagePath = 'uploads/images/' ~ user.image %}
              {% endif %}

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ asset(imagePath) }}" alt="Profile" class="rounded-circle" >
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.Name}}</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.name}}</h6>
              <span>
              {{user.Role}}
              </span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
          <a class="dropdown-item d-flex align-items-center" href="{{ path('app_user_profile') }}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
          

          
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ path('app_login') }}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul>
        </li>

      </ul>
    </nav>

  </header>
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">


  
      <li class="nav-heading" style="color:#033E6A">Pages</li>
  
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_user_profile') }}"> <!-- user pROFILE PAGE -->
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
        {% if user.Role == 'Proprietaire de Terrain' %}
      
        <li class="nav-item">
      <a class="nav-link collapsed" href="{{ path('app_terrain_index') }}"> 
        <i class="bi bi-grid"></i>
        <span>Terrain</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{{ path('app_avis_index') }}"> 
        <i class="bi bi-grid"></i>
        <span>Avis</span>
      </a>
    </li>
    {% endif %}
    {% if user.Role == 'Organisateur' %}
        <li class="nav-item">
      <a class="nav-link collapsed" href="{{ path('app_user_tournoi') }}"> 
        <i class="bi bi-grid"></i>
        <span>Tournoi</span>
      </a>
    </li>
    {% endif %}
      </li>
  
      
    </ul>
  
  </aside>

  <main id="main" class="main">

<div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="card-title">Ajouter un Tournoi</h4>
            </div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}
       
                

                <div class="mb-3">
                    {{ form_label(form.nom, null, {'label_attr': {'class': 'form-label'}}) }}
                    {% set errorClass = form.nom.vars.errors is not empty ? 'is-invalid' : '' %}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control ' ~ errorClass }}) }}
                    {% if form.nom.vars.errors %}
                            <div class="invalid-feedback">
                                {{ form_errors(form.nom) }}
                            </div>
                        {% endif %}
                </div>

                <div class="mb-3">
                    {{ form_label(form.affiche, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.affiche, {'attr': {'class': 'form-control'}}) }}
                    <img id="preview-image" src="#" alt="Aperçu de l'affiche" class="img-thumbnail mt-2" style="display: none;">
                </div>

                <div class="mb-3">
                    {{ form_label(form.address, null, {'label_attr': {'class': 'form-label'}}) }}
                    {% set errorClass = form.nom.vars.errors is not empty ? 'is-invalid' : '' %}
                    {{ form_widget(form.address, {'attr': {'class': 'form-control ' ~ errorClass }}) }}
                   {% if form.nom.vars.errors %}
                            <div class="invalid-feedback">
                                {{ form_errors(form.address) }}
                            </div>
                        {% endif %}
                </div>

                <div class="mb-3">
                    {{ form_label(form.datedebut, null, {'label_attr': {'class': 'form-label'}}) }}
                    {% set errorClass = form.nom.vars.errors is not empty ? 'is-invalid' : '' %}
                    {{ form_widget(form.datedebut, {'attr': {'class': 'form-control ' ~ errorClass }}) }}
                   {% if form.nom.vars.errors %}
                            <div class="invalid-feedback">
                                {{ form_errors(form.datedebut) }}
                            </div>
                        {% endif %}
                </div>

                <div class="mb-3">
                    {{ form_label(form.datefin, null, {'label_attr': {'class': 'form-label'}}) }}
                    {% set errorClass = form.nom.vars.errors is not empty ? 'is-invalid' : '' %}
                    {{ form_widget(form.datefin, {'attr': {'class': 'form-control ' ~ errorClass }}) }}
                {% if form.nom.vars.errors %}
                            <div class="invalid-feedback">
                                {{ form_errors(form.datefin) }}
                            </div>
                        {% endif %}
                </div>

                <div class="mb-3">
                    {{ form_label(form.nbmaxequipe, null, {'label_attr': {'class': 'form-label'}}) }}
                    <input type="range" class="form-range" id="teamRange" value="1" min="0" max="4" step="1">
                    <p>Nombre d'équipes : <span id="nbTeams">8</span></p>
                    
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">{{ button_label|default('Enregistrer') }}</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
  </main>
  <script>
    const steps = [4, 8, 16, 24, 32];
    var slider = document.getElementById('teamRange');
    var span = document.getElementById('nbTeams');
    span.innerHTML = steps[slider.value];
    slider.oninput = function() {
        span.innerHTML = steps[this.value];
        document.getElementById('{{ form.nbmaxequipe.vars.id }}').value = steps[this.value];
    };

    // Pour l'aperçu de l'image
    document.getElementById('{{ form.affiche.vars.id }}').onchange = function (e) {
        var reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById('preview-image').src = e.target.result;
            document.getElementById('preview-image').style.display = 'block';
        };
        reader.readAsDataURL(e.target.files[0]);
    };
</script>


         


  <script src="{{ asset('Back/assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/chart.js/chart.umd.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/echarts/echarts.min.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/quill/quill.min.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ asset('Back/assets/vendor/php-email-form/validate.js') }}"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Template Main JS File -->
  <script src="{{ asset('Back/assets/js/main.js') }}"></script>
    </body>
</html>