<!DOCTYPE html>

<title>Tournoi index</title>

{% block body %}
    <h1>Tournoi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nbmaxequipe</th>
                <th>Nom</th>
                <th>Affiche</th>
                <th>Address</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Visite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournoi in tournois %}
            <tr>
                <td>{{ tournoi.id }}</td>
                <td>{{ tournoi.nbmaxequipe }}</td>
                <td>{{ tournoi.nom }}</td>
                <td>{{ tournoi.affiche }}</td>
                <td>{{ tournoi.address }}</td>
                <td>{{ tournoi.datedebut ? tournoi.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ tournoi.datefin ? tournoi.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ tournoi.visite }}</td>
                <td>
                    <a href="{{ path('app_tournoi_show', {'id': tournoi.id}) }}">show</a>
                    <a href="{{ path('app_tournoi_edit', {'id': tournoi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tournoi_new') }}">Create new</a>
{% endblock %}
