<div class="text-center mt-4">
    <a href="{{ path('app_terrain_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
    {% if terrains is not empty %}
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#globalStatsModal"><i class="fas fa-chart-bar"></i></a>
    {% endif %}
</div>
<!-- Modal pour les statistiques globales -->
<div class="modal" id="globalStatsModal" tabindex="-1" role="dialog" aria-labelledby="globalStatsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="globalStatsModalLabel">Analyse de popularité des terrains</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Contenu des statistiques -->
                <canvas id="myChart" width="400" height="400"></canvas>
                <div class="text-center mt-4">
<!-- Bouton "Convertir en Excel" -->
     <a href="#" class="btn btn-primary" onclick="convertToExcel();"><i class="fas fa-file-excel"></i> Convertir en Excel</a>
  </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin de la modal pour les statistiques globales -->



<div class="box-container">
    {% for terrain in terrains %}
    <div class="box-item">
        <div class="flip-box">
            <div class="flip-box-front text-center" style="background-image: url('{{ asset('uploads/images/' ~ terrain.image) }}');">
                <div class="inner color-white">
                    <h3 class="flip-box-header">{{ terrain.nomterrain }}</h3>
                    <p>{{ terrain.address }}</p>
                    <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                </div>
            </div>
            <div class="flip-box-back text-center" style="background-image: url('{{ asset('uploads/images/' ~ terrain.image) }}');">
                <div class="inner color-white">
                    <h3 class="flip-box-header">{{ terrain.nomterrain }}</h3>
                    <p>{{ terrain.address }}</p>
                    <div>
                    <a href="{{ path('app_terrain_detail2', {'id': terrain.id}) }}" class="btn btn-outline-success" style="text-decoration: none;"><i class="fas fa-info-circle"></i></a>

                        <a href="{{ path('app_terrain_edit', {'id': terrain.id}) }}" class="btn btn-outline-primary"><i class="fas fa-edit" ></i></a>
                        <a href="#" onclick="if(confirm('Êtes-vous sûr de vouloir supprimer cet élément ?')) { document.getElementById('delete-terrain-{{ terrain.id }}').submit(); } return false;" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
                        <form id="delete-terrain-{{ terrain.id }}" action="{{ path('app_terrain_delete', {'id': terrain.id}) }}" method="post" style="display: none;">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ terrain.id) }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Vos autres scripts, balises, etc. -->
</body>
