<div class="event-cards-container">
  {% for product in products %}
    <div class="event-card" style="padding:14px; background-color:white; border-radius:20px;">
      <div class="event-card-inner">
        <div class="event-card-front">
          <h3>{{ product.nom }}</h3>
          <p>{{ product.description }}</p>
          <p>Price: {{ product.prix }}</p>
        </div> <!-- Closing event-card-front -->
        <div class="event-card-back">
          <h3 class="event-title">Commands:</h3>
          <ul>
            {% for commande in commandes[product.id] %}
              <li>{{ commande.id }} - {{ commande.datecommande }}</li>
            {% endfor %}
          </ul>
        </div> <!-- Closing event-card-back -->
      </div>
    </div>
  {% endfor %}
</div>
