{% extends 'BaseFront.html.twig' %}

{% block title %}Détails du Terrain{% endblock %}

{% block body %}
    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-xl bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="{{ path('app_Home') }}" class="navbar-brand">
                    <h1 class="m-0 text-primary"><span class="text-dark">Play</span>Mate</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="{{ path('app_Home') }}" class="nav-item nav-link">Accueil</a>
                        <a href="{{ path('app_Apropos') }}" class="nav-item nav-link">À propos</a>
                        <a href="{{ path('app_Service') }}" class="nav-item nav-link">Services</a>
                        <a href="{{ path('app_Reservation') }}" class="nav-item nav-link">Réservée</a>
                        <a href="{{ path('app_Boutique') }}" class="nav-item nav-link">Boutique</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                <a href="{{ path('app_Terrains') }}" class="dropdown-item active">Nos Terrains</a>
                                <a href="{{ path('app_Evenement') }}" class="dropdown-item">Nos Événement</a>
                            </div>
                        </div>
                        <a href="{{ path('app_Contact') }}" class="nav-item nav-link">Contact</a>
                    </div>
                    <!-- Additional navbar items for small screens -->
                    <div class="navbar-nav ml-auto d-lg-none">
                        {% if app.user %}
                            <a href="{{ path('app_user_profile') }}" class="nav-item nav-link">Voir profile</a>
                            <a href="{{ path('app_logout') }}" class="nav-item nav-link">Se déconnecter</a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="nav-item nav-link">Se connecter</a>
                            <a href="{{ path('app_register') }}" class="nav-item nav-link">S'inscrire</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{{ asset('uploads/images/' ~ tournoi.affiche) }}" alt="" style="max-width: 70%; height: auto;">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <!-- Afficher les autres détails du terrain -->
                <h1 class="text-center">{{ tournoi.getNom() }}</h1>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Nombre Equipes </h5>
                        <p class="card-text">{{ tournoi.getNbmaxequipe() }}</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Adresse</h5>
                        <p class="card-text">{{ tournoi.getAddress() }}</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Date Début</h5>
                        <p class="card-text">{{ tournoi.getDatedebut()|date('Y-m-d') }}</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Date Fin</h5>
                        <p class="card-text">{{ tournoi.getDatefin()|date('Y-m-d') }}</p>
                    </div>
                </div>
                <div class="text-center">
                    <div class="col-lg-9 col-md-8">
                      <button class="btn btn-custom-blue" data-toggle="modal" data-target="#participationModal">Participer</button>
                    </div>

<div class="modal fade" id="participationModal" tabindex="-1" role="dialog" aria-labelledby="participationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="participationModalLabel">Participation au Tournoi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
    {{ render(controller('App\\Controller\\ParticipationController::formAction', {'id': tournoi.id, 'iduser': app.user.id})) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" id="submitForm">Confirmer participation</button>
      </div>
    </div>
  </div>
</div>
                </div>
            </div>
        </div>

        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>$(document).on('submit', '#participationForm', function(e) {
    e.preventDefault();
    var form = $(this);
    $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: form.serialize(),
        success: function (response) {
            alert('Participation enregistrée');
            $('#participationModal').modal('hide');
            location.reload(); // ou rediriger vers une autre page selon le besoin
        },
        error: function (xhr, status, error) {
            alert('Erreur lors de la soumission: ' + error);
        }
    });
});
</script>

{% endblock %}
