{% block title %}
<p>Date Reservation: {{ date|date('Y-m-d') }}</p>
<p>Heure Reservation: {{ horaire }}</p>
<p>nom terrain: {{ nomterrain }}</p>
<p>addresse terrain: {{ adresse }}</p>
<p>prix terrain: {{ prix }}</p>
{% endblock %}

{% block body %}
{% endblock %}