{% extends 'BaseFront.html.twig' %}

{% block title %}Login{% endblock %}
{% block body %}

<link rel="stylesheet" href="{{ asset('Front/css/ReservationCss/choix.css') }}">


<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-xl bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <a href="{{ path('app_Home' ) }}" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">Play</span>Mate</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a href="{{ path('app_Home' ) }}" class="nav-item nav-link">Accueil</a>
                    <a href="{{ path('app_Apropos' ) }}" class="nav-item nav-link">À propos</a>
                    <a href="{{ path('app_Service' ) }}" class="nav-item nav-link ">Services</a>
                    <a href="{{ path('app_Reservation' ) }}" class="nav-item nav-link active">Réservée</a>
                    <a href="{{ path('app_Boutique' ) }}" class="nav-item nav-link">Boutique</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="{{ path('app_Terrains' ) }}" class="dropdown-item">Nos
                                Terrains</a>
                            <a href="{{ path('app_Evenement' ) }}" class="dropdown-item">Nos
                                Événement</a>
                        </div>
                    </div>
                    <a href="{{ path('app_Contact' ) }}" class="nav-item nav-link">Contact</a>
                </div>
                <div class="navbar-nav ml-auto d-lg-none">
                    {% if app.user %}
                    <a href="{{ path('app_user_profile') }}" class="nav-item nav-link">Voir profile</a>
                    <a href="{{ path('app_logout') }}" class="nav-item nav-link">Se déconnecter</a>
                    {% else %}
                    <a href="{{ path('app_login') }}" class="nav-item nav-link">Se connecter</a>
                    <a href="{{ path('app_register') }}" class="nav-item nav-link">S'inscrire</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->

</style>

<!-- Header Start -->
<style>
    #im1 {
        object-fit: cover;
        object-position: center;
        height: 400px;
        width: 100%;
        opacity: 0.7;
        /* Rendre l'image légèrement transparente */
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
    }

    .visible {
        display: block;
    }
</style>

<div class="container-fluid ">
    <div class="container">
        <img class="img-fluid" id="im1" src="{{ asset('Front/css/ReservationCss/m.jpg') }}" alt="">
        <div class="text-overlay">
            <h3 class="display-4 text-uppercase">Reservation</h3>
            <div class="d-inline-flex">
                <p class="m-0 text-uppercase"><a class="text-white" href="{{ path('app_Home' ) }}">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Reserver</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<div class="container pt-5 pb-3">



    <div class="text-center mb-3 pb-3">
        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">N'attendez pas !</h6>
        <h1 style="padding-bottom: 20px;">Créez votre légende !</h1>
    </div>

    <!--div pour afficher reservation-->
    <div class="container-lg position-relative p-0 px-lg-3" id="reservation-container" class="row"></div>

    <!-- choix du une des trois types-->
    <div class="container-fluid py-5">

        <div class="row destination-row">
            <div class="col-lg-4 col-md-6 mb-4" id="CreerPartie">
                <div class="destination-item position-relative overflow-hidden mb-2"
                    onclick="toggleRow('Creer_Partie')">
                    <img class="img-fluid" src="{{asset('Front/css/ReservationCss/lancezvous.avif')}}" alt="">
                    <a class="destination-overlay text-white text-decoration-none">
                        <h5 class="text-white">Créer votre partie !</h5>
                        <span></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4" id="PostulerCommeAdversaire">
                <div class="destination-item position-relative overflow-hidden mb-2"
                    onclick="toggleRow('Postuler_Comme_Adversaire')">
                    <img class="img-fluid" src="{{asset('Front/css/ReservationCss/enqueteadv.webp')}}" alt="">
                    <a class="destination-overlay text-white text-decoration-none">
                        <h5 class="text-white">En quête d'adversaire</h5>
                        <span></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4" id="LancezVous">
                <div class="destination-item position-relative overflow-hidden mb-2" onclick="toggleRow('Lancez_Vous')">
                    <img class="img-fluid" src="{{asset('Front/css/ReservationCss/m.jpg')}}" alt="">
                    <a class="destination-overlay text-white text-decoration-none">
                        <h5 class="text-white">Lancez-Vous</h5>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <!-- affichage terrain -->
    <div class="container-fluid py-5 invisible" id="afficherTerrain">

        <div class="container py-5">

            <div class="row">

                <div class="row pb-3">
                    {% for terrain in terrains %}
                    <div class="col-md-6 mb-4 pb-2">
                        <div class="blog-item">
                            <div class="position-relative">
                                {% if terrain.image %}
                                <img class="img-fluid w-100" src="{{ asset('uploads/images/' ~ terrain.image) }}"
                                    alt="">
                                {% endif %}
                                <div class="blog-date">
                                    <h6 class="font-weight-bold mb-n1">{{ terrain.getNomterrain() }}</h6>
                                    <small class="text-white text-uppercase">{{ terrain.getGouvernorat}}</small>
                                </div>
                            </div>
                            <div class="bg-white p-4">

                                <a class="h5 m-0 text-decoration-none" href="#"> <i class="fas fa-map-marker-alt"></i>
                                    {{ terrain.getAddress() }}</a> <br></br>
                                <br> <a class="h5 m-0 text-decoration-none" href="#"> <i class="fas fa-coins"></i>
                                    {{ terrain.getPrix() }} TND</a></br>
                                <a href="#" class="btn btn-primary btn-sm float-right">Voir les détails <i
                                        class="bi bi-eye"></i></a>

                                <button class="btn btn-primary btn-sm float-right"
                                    onclick="choisirTerrain('{{ terrain.id }}')"
                                    style="margin-right: 10px;">Choisir</button>

                            </div>
                        </div>
                    </div>

                    {% endfor %}





                    <div class="col-12" id="pagginationLancezVous">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-lg justify-content-center bg-white mb-0"
                                style="padding: 30px;">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <!--fin  affichage terrain -->

    <!-- affichage du parametre de creer partie-->
    <div class="container-fluid booking mt-5 pb-5 d-flex justify-content-center align-items-center invisible"
        id="bookingDiv">
        <div class="container pb-5">
            <div class="bg-light shadow" style="padding: 30px;">
                <div class="row align-items-center text-center" style="min-height: 60px;">
                    <div class="col-md-3">
                        <div class="mb-3 mb-md-0">
                            <select class="custom-select px-4" style="height: 47px;">
                                <option selected id="EquipeReservationId">Equipe</option>
                                <option value="1">equipe 1</option>
                                <option value="2">equipe 2</option>
                                <option value="3">equipe 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3 mb-md-0">
                            <div class="date" id="date1">
                                <input type="date" id="dateReservationId" class="form-control p-4" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3 mb-md-0">
                            <input type="time" id="horaireReservationId" class="form-control p-4" placeholder="Horaire">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;"
                            onclick="VerfivationDisponibiliteTerrain()">Réserver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--affichage du parametre pour creer partie end-->

    <!--affichage parametre pour lancez vous-->
    <div class="container-fluid booking mt-5 pb-5 d-flex justify-content-center align-items-center invisible"
        id="bookingDiv2">
        <div class="container pb-5">
            <div class="bg-light shadow" style="padding: 30px;">
                <div class="row align-items-center text-center" style="min-height: 60px;">
                    <div class="col-md-2">
                        <div class="mb-3 mb-md-0">
                            <select class="custom-select px-4" style="height: 47px;">
                                <option selected id="EquipeReservationId1">Equipe</option>
                                <option value="1">equipe 1</option>
                                <option value="2">equipe 2</option>
                                <option value="3">equipe 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3 mb-md-0">
                            <select class="custom-select px-4" style="height: 47px;">
                                <option selected id="EquipeReservationId2">Equipe</option>
                                <option value="1">equipe 1</option>
                                <option value="2">equipe 2</option>
                                <option value="3">equipe 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3 mb-md-0">
                            <div class="date" id="date1">
                                <input type="date" id="dateReservationId2" class="form-control p-4" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3 mb-md-0">
                            <input type="time" id="horaireReservationId2" class="form-control p-4"
                                placeholder="Horaire">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;"
                            onclick="VerfivationDisponibiliteTerrain()">Réserver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--fin affichage parametre lancez vous-->

</div>
<!-- fin choix du une des trois types-->


<script>

    var typeReservation;
    var terrain

    var equipe;
    var date;
    var horaire;

    function toggleRow(choix) {
        typeReservation = choix;

        var row = document.getElementById("CreerPartie");
        row.classList.toggle("hidden");
        var row = document.getElementById("PostulerCommeAdversaire");
        row.classList.toggle("hidden");
        var row = document.getElementById("LancezVous");
        row.classList.toggle("hidden");


        if (typeReservation == 'Creer_Partie') {
            var afficherTerrain = document.getElementById("afficherTerrain");
            afficherTerrain.classList.toggle("invisible");
        } else if (typeReservation == 'Postuler_Comme_Adversaire') {
            fetch('/reservations')
                .then(response => response.json())
                .then(reservations => {
                    var reservationContainer = document.getElementById('reservation-container');
                    reservationContainer.innerHTML = ''; // Clear existing content
                    reservations.forEach(reservation => {
                        var reservationDiv = document.createElement('div');
                        reservationDiv.classList.add('col-md-12', 'mb-4', 'pb-2');
                        reservationDiv.innerHTML = `
                        <div class="blog-item text-center">
                            <div class="bg-white p-4">
                                <p class="h5 m-0">
                                    <span class="blue-text">Date de réservation :</span>  <span class="font-weight-bold" id="dateres">${reservation.datereservation} </span>
                                    <span class="blue-text">Heure de réservation :</span>  <span class="font-weight-bold" id="heureres">${reservation.heurereservation}</span>
                                </p>
                                <p class="h5 m-0"> 
                                    <span class="green-text d-none">Nom du terrain :</span>  <span class="font-weight-bold d-none" id="terrainid" > ${reservation.idterrain.id}</span>
                                    <span class="green-text">Nom du terrain :</span>  <span class="font-weight-bold" id="nomterrain"> ${reservation.idterrain.nom} </span>
                                    <span class="green-text">Adresse :</span>  <span class="font-weight-bold"> ${reservation.idterrain.adresse} </span>
                                    <span class="green-text">Durée :</span>  <span class="font-weight-bold"> ${reservation.idterrain.duree} </span>
                                    <span class="green-text">Prix :</span>  <span class="font-weight-bold">${reservation.idterrain.prix}</span>
                                </p>
                                <div class="mt-3">
                                    <button class="btn btn-primary mr-2" onclick="reserverCommeAdversaire()">Réserver</button>
                                    <button class="btn btn-success" onclick="voirDetails()">Voir Détails</button>
                                </div>
                            </div>
                        </div>
                    `;
                        reservationContainer.appendChild(reservationDiv);
                    });
                })
                .catch(error => console.error('Erreur lors de la récupération des réservations:', error));

        }

        else {

            var afficherTerrain = document.getElementById("afficherTerrain");
            afficherTerrain.classList.toggle("invisible");
        }


    }



    <!-- nouvelle ajout 11/04 -->



    function choisirTerrain(idTerrain) {

        terrain = idTerrain;

        if (typeReservation == 'Creer_Partie') {
            var bookingDiv = document.getElementById("bookingDiv");
            bookingDiv.classList.toggle("invisible");
        } else if (typeReservation == 'Postuler_Comme_Adversaire') {

        } else {
            var bookingDiv2 = document.getElementById("bookingDiv2");
            bookingDiv2.classList.toggle("invisible");
        }


        // VerfivationDisponibiliteTerrain(idTerrain);
    }




    function verifierDate() {
        if (typeReservation == 'Creer_Partie') {
            var dateInput = document.getElementById("dateReservationId").value;
        } else {
            var dateInput = document.getElementById("dateReservationId2").value;
        }


        // Convertir la date saisie en objet Date
        var dateSaisie = new Date(dateInput);
        // Obtenir la date actuelle
        var dateActuelle = new Date();

        // Vérifier si la date saisie est dans le futur
        if (dateSaisie > dateActuelle) {
            return true; // La date est dans le futur
        } else {
            alert("La date doit être dans le futur");
            return false;
        }
    }

    function verifierHoraire() {
        if (typeReservation == 'Creer_Partie') {
            var horaireInput = document.getElementById("horaireReservationId");
        } else {
            var horaireInput = document.getElementById("horaireReservationId2");
        }

        var horaire = horaireInput.value;


        // Extraire les heures et les minutes de l'heure saisie
        var heuresMinutes = horaire.split(":");
        var heures = parseInt(heuresMinutes[0]);
        var minutes = parseInt(heuresMinutes[1]);

        // Vérifier si l'heure est entre 07:59 et 00:00
        if ((heures > 7 || (heures === 7 && minutes >= 59)) && (heures < 24 || (heures === 0 && minutes === 0))) {
            return true; // L'heure est valide
        } else {
            alert("L'heure doit être entre 08:00 et 00:00");
            return false;
        }
    }

    function reserverCommeAdversaire() {
        alert('dans postuler')
        var date = document.getElementById("dateres").innerText;
        var horaire = document.getElementById("heureres").innerText;
        var terrain = document.getElementById("terrainid").innerText;
        typeReservation = 'Postuler_Comme_Adversaire';
        alert(date + " \n" + horaire + "\n" + terrain + "\n" + typeReservation);
        $.post("/reservation/getTerrain/" + typeReservation + "/" + terrain + "/" + date + "/" + horaire, function (data) {
            // Traitez la réponse ici
            if (data === 'Terrain disponible') {
                alert('ok')
            } else {
                alert(data);
            }
        });
    }

    // prendre l argument idTerrain
    function VerfivationDisponibiliteTerrain() {

        if (typeReservation != '') {
            alert(terrain + "\n" + typeReservation);
            event.preventDefault(); // Empêcher la soumission par défaut du formulaire

            // Obtenez les valeurs des champs du formulaire
            if (typeReservation == 'Creer_Partie') {
                var equipe = document.getElementById("EquipeReservationId").value;
                var date = document.getElementById("dateReservationId").value;
                var horaire = document.getElementById("horaireReservationId").value;
            } else if (typeReservation == 'Postuler_Comme_Adversaire') {

            } else {

                var equipe1 = document.getElementById("EquipeReservationId1").value;
                var equipe2 = document.getElementById("EquipeReservationId2").value;

                var date = document.getElementById("dateReservationId2").value;
                var horaire = document.getElementById("horaireReservationId2").value;
            }
            // Vérifiez la date et l'heure
            if (!verifierHoraire()) {
                return;
            }
            if (!verifierDate()) {
                return;
            }

            alert(terrain + "\n" + typeReservation + "\n" + date + "\n" + horaire + "\n");
            // Effectuez la requête AJAX avec les bons paramètres
            $.post("/reservation/getTerrain/" + typeReservation + "/" + terrain + "/" + date + "/" + horaire, function (data) {
                // Traitez la réponse ici
                if (data === 'Terrain disponible') {
                    alert('ok')
                } else {
                    alert(data);
                }
            });
        }
    }



</script>


<style>
    .backg {
        background-image: url('Front/css/ReservationCss/enqueteadv.webp');
        background-size: cover;
        background-position: center;
        height: 400px;

    }

    .blue-text {
        color: #033E6A;
    }

    .green-text {
        color: #4CAF50;
    }

    .text-center {
        text-align: center;
    }
</style>

{% endblock %}