{% extends 'BaseFront.html.twig' %}

{% block title %}Nos Terrains{% endblock %}
{% block body %}

    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-xl bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="{{ path('app_Home') }}" class="navbar-brand">
                    <h1 class="m-0 text-primary"><span class="text-dark">Play</span>Mate</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="{{ path('app_Home') }}" class="nav-item nav-link">Accueil</a>
                        <a href="{{ path('app_Apropos') }}" class="nav-item nav-link">À propos</a>
                        <a href="{{ path('app_Service') }}" class="nav-item nav-link">Services</a>
                        <a href="{{ path('app_Reservation') }}" class="nav-item nav-link">Réservée</a>
                        <a href="{{ path('app_Boutique') }}" class="nav-item nav-link">Boutique</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                <a href="{{ path('app_Terrains' ,) }}" class="dropdown-item active">Nos Terrains</a>
                                <a href="{{ path('app_Evenement') }}" class="dropdown-item">Nos Événement</a>
                            </div>
                        </div>
                        <a href="{{ path('app_Contact') }}" class="nav-item nav-link">Contact</a>
                    </div>
                    <!-- Additional navbar items for small screens -->
                    <div class="navbar-nav ml-auto d-lg-none">
                        {% if app.user %}
                        <a href="{{ path('app_user_profile') }}" class="nav-item nav-link">Voir profile</a>
                        <a href="{{ path('app_logout') }}" class="nav-item nav-link">Se déconnecter</a>
                        {% else %}
                        <a href="{{ path('app_login') }}" class="nav-item nav-link">Se connecter</a>
                        <a href="{{ path('app_register') }}" class="nav-item nav-link">S'inscrire</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Nos Terrains</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{{ path('app_Home') }}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Nos Terrains</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
 
 
<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container py-5">

        <div class="row">
            <div class="col-md-6 mb-4">
    
       <!-- Add a form for search -->
<form action="{{ path('app_Terrains') }}" method="GET">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Rechercher par adresses/gouvernorats" name="query">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Rechercher</button>
        </div>
    </div>
</form>

    </div>
    <div class="col-md-6 mb-4">
        <!-- Add dropdown for sorting -->
        <form action="{{ path('app_Terrains') }}" method="GET">
            <div class="input-group">
                <select class="custom-select" name="order">
                    <option value="price_asc" {% if app.request.query.get('order') == 'price_asc' %}selected{% endif %}>Prix croissant</option>
                    <option value="price_desc" {% if app.request.query.get('order') == 'price_desc' %}selected{% endif %}>Prix décroissant</option>
                    <option value="duration_asc" {% if app.request.query.get('order') == 'duration_asc' %}selected{% endif %}>Durée croissante</option>
                    <option value="duration_desc" {% if app.request.query.get('order') == 'duration_desc' %}selected{% endif %}>Durée décroissante</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Trier</button>
                </div>
            </div>
        </form>
    </div>
</div>


        <div class="row">
            {% for terrain in pagination %}
            {% if terrain.isStatus() %}
            <div class="col-md-6 mb-4 pb-2">
                <div class="blog-item">
                    <div class="position-relative">
                        {% if terrain.image %}
                        <img class="img-fluid w-100" src="{{ asset('uploads/images/' ~ terrain.image) }}" alt="">
                        {% endif %}
                        <div class="blog-date">
                            <h6 class="font-weight-bold mb-n1">{{ terrain.getNomterrain() }}</h6>
                            <small class="text-white text-uppercase">{{ terrain.getGouvernorat() }}</small>
                        </div>
                    </div>
                    <div class="bg-white p-4">
                        <a class="h5 m-0 text-decoration-none" href="#"><i class="fas fa-map-marker-alt"></i> {{ terrain.getAddress() }}</a>
                        <br>
                        <a class="h5 m-0 text-decoration-none" href="#"><i class="fas fa-coins"></i> {{ terrain.getPrix() }} TND</a>
                        <br>
                        <a class="h5 m-0 text-decoration-none" href="#"><i class="fas fa-clock"></i> {{ terrain.getDuree() }}</a>
                        <br>
                        <a href="{{ path('app_terrain_detail', {'id': terrain.id}) }}" class="btn btn-primary btn-sm float-right">Voir les détails <i class="bi bi-eye"></i></a>
                        <a href="{{ path('app_donner_avis', {'id': terrain.id}) }}" class="btn btn-primary">Donner un avis</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
   <div class="col-12 d-flex" style="justify-content: center;">
              
                   {{ knp_pagination_render(pagination) }}
               
                  </div>
                    </div>
              
    
             
            </div>
        </div>
    </div>
    <!-- Blog End -->


    
    {% endblock %}