<!DOCTYPE html>

<title>Blacklist index</title>

{% block body %}
    <h1>Blacklist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idblacklist</th>
                <th>Duree</th>
                <th>Cause</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blacklist in blacklists %}
            <tr>
                <td>{{ blacklist.idblacklist }}</td>
                <td>{{ blacklist.duree }}</td>
                <td>{{ blacklist.cause }}</td>
                <td>
                    <a href="{{ path('app_blacklist_show', {'idblacklist': blacklist.idblacklist}) }}">show</a>
                    <a href="{{ path('app_blacklist_edit', {'idblacklist': blacklist.idblacklist}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blacklist_new') }}">Create new</a>
{% endblock %}
