{# templates/_formedit.html.twig #}

{{ form_start(form1, {'attr': {'class': 'g-3 row mb-3 ', 'novalidate': 'novalidate', 'id': 'formedit'}}) }}

<div class="col-md-4 col-lg-3">
    {{ form_label(form1.name, 'Name', {'label_attr': {'class': 'form-label'}}) }}
</div>
<div class="col-md-8 col-lg-9">
    {{ form_widget(form1.name, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form1.name) }}
</div>
<div class="col-md-4 col-lg-3">
    {{ form_label(form1.age, 'Age', {'label_attr': {'class': 'form-label'}}) }}
</div>
<div class="col-md-8 col-lg-9">
    {{ form_widget(form1.age, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form1.age) }}
</div>
<div class="col-md-4 col-lg-3">
    {{ form_label(form1.phone, 'Phone', {'label_attr': {'class': 'form-label'}}) }}
</div>
<div class="col-md-8 col-lg-9">
    {{ form_widget(form1.phone, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form1.phone) }}
</div>
<div class="col-md-4 col-lg-3">
    {{ form_label(form1.address, 'Address', {'label_attr': {'class': 'form-label'}}) }}
</div>
<div class="col-md-6 col-lg-7">
    {{ form_widget(form1.address, {'attr': {'id':'formedit_address', 'class': 'form-control'}}) }}
    {{ form_errors(form1.address) }}
</div>
<div class="col-md-2 col-lg-2">
    <button type="button" id="getLocationBtn" class="btn btn-primary">Get Location</button>
</div>
<div class="col-md-4 col-lg-3">
    {{ form_label(form1.imageFile, 'Image', {'label_attr': {'class': 'form-label'}}) }}
</div>
<div class="col-md-8 col-lg-9">
    {{ form_widget(form1.imageFile, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="col-12 text-center">
    <button id="update-button-edit" type="submit" class="btn" style="background-color:#033E6A; color:white;">Update</button>
</div>
{{ form_end(form1) }}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>


$(document).ready(function() {
    let addressinput = document.getElementById('user_update_address');

   $('#getLocationBtn').click(function() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;
            
            // Send AJAX request to Symfony controller
            $.get('/get-address/' + lat + '/' + lon, function(data) {
                var address = data.address;
              
                addressinput.value = address.suburb + ' ' + address.county+ ' ' +  address.country;
            
            });
        });
    } else {
        alert('Geolocation is not supported by this browser.');
    }
});
});
</script>
