{% extends 'BaseBack.html.twig' %}

{% block title %}User index{% endblock %}





{% block body %}
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="#" class="logo d-flex align-items-center"> <!-- home -->
      <img src="{{ asset('Back/assets/img/PlayMate.png') }}" alt="">
      <span class="d-none d-lg-block">PlayMate</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->





</header>
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">



        <li class="nav-heading">Gestion User</li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_user_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>Users</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_user_dashboard') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
<li class="nav-heading">Gestion Produit</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_product_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Produit</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_categorie_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Categorie</span>
            </a>
        </li>
        <!-- End Nav Item -->
         <li class="nav-heading">GestionTerrain</li>
        <li class="nav-item">
      <a class="nav-link collapsed" href="{{ path('app_terrain_index') }}"> 
        <i class="bi bi-grid"></i>
        <span>Terrain</span>
      </a>
    </li>
    <li class="nav-item">
<a class="nav-link collapsed" href="{{ path('app_avis_index') }}">

        <i class="bi bi-grid"></i>
        <span>Avis</span>
      </a>
    </li>

    <!-- End Nav Item -->
      <li class="nav-heading">Gestion Reservation</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_reservation_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Reservation</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_historique_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Historique</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_blacklist_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Blacklist</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_payment_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Paiement</span>
            </a>
        </li>

        <!-- End Nav Item -->
        <li class="nav-heading">Gestion Evenement</li>
          <li class="nav-item">
            <a class="nav-link collapsed " href="{{ path('app_tournoi_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Tournoi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_participation_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Participation</span>
            </a>
        </li>
            <li class="nav-heading">Gestion Equipe</li>
         
          <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_equipe_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Equipe</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_membreparequipe_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Membre par equipe</span>
            </a>
        </li>
<!-- End Nav Item -->
    </ul>

</aside>


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Table Page</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Pages</li> <!-- user pROFILE PAGE -->
        <li class="breadcrumb-item active">Table</li>

      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
 
  
   
   

   <div class="row mt-4" style="margin-bottom:20px;">
    <div class="col-md-6">
        <form action="{{ path('app_user_index') }}" method="GET" class="form-inline">
             <label for="search" class="sr-only">Search</label>

            <div class="form-group mb-2 d-flex">
                <input type="text" class="form-control" id="search" name="search" placeholder="Search...">
                <button type="submit" class="btn btn-primary"  style="margin-left:10px;">Search</button>

            </div>

        </form>
    </div>
    <div class="col-md-6">
        <form action="{{ path('app_user_index') }}" method="GET" class="form-inline float-right">
          <label for="role" class="mr-2">Filter by Role:</label>
            <div class="form-group mb-2  d-flex">
                
                <select class="form-control" id="role" name="role">
                    <option value="">All Roles</option>
                    {% for role in available_roles %}
                    <option value="{{ role }}">{{ role }}</option>
                    {% endfor %}
                </select>
               <button type="submit" class="btn btn-primary" style="margin-left:10px;">Filter</button>

            </div>
        </form>
    </div>
</div>
      <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in pagination %}
            <tr>
                <td>{{ user.Email }}</td>
                <td>{{ user.Password }}</td>
                <td>{{ user.Name }}</td>
                <td>{{ user.Age }}</td>
                <td>{{ user.Phone }}</td>
                <td>{{ user.Role }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   <div class="pagination" style="justify-content: center;padding-right:50px;">
        {{ knp_pagination_render(pagination) }}
    </div>
</section>

</main>
{% endblock %}